.mainHeaderTop {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 10px;
}

.mainHeaderPhoneWrapper a {
  display:flex;
  align-items: center;
  column-gap: 5px;
  color: #000000;
  text-decoration: none;
  border-bottom: #ffd201 2px solid;
}

.mainHeaderPhoneWrapper a:hover {
  border-bottom: #000000 2px solid;
}

.mainHeaderPhoneWrapper a:active {
  border-bottom: #919191 2px solid;

}

.mainHeaderSocial {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 20px;
  left: 10px;
}

.mainHeaderSocialMedia {
  display: flex;
  column-gap: 15px;
  position: relative;
  top: 5px;
}

.mainHeaderSocialMedia a {
  color: #777777;
}

.mainHeaderSocialMedia a:hover {
  color: #ffd201;
}

.mainHeaderSocialMedia a:active {
  color: #ff9901;
}

.line {
  background-color: #dddddd;
  width: 1.5px;
  height: 180%;
}

.longLine {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1.5px;
  background-color: #dddddd;
}