.container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4,285px);
  grid-template-rows: repeat(2, 446px);
  gap: 32px;
}

.wrapper {
  margin-top: 56px;
}

.wrapper .title {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}