.container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4,285px);
  grid-template-rows: repeat(2, 446px);
  gap: 32px;
}

.wrapper {
  position: relative;;
  margin-top: 56px;
}

.wrapper .title {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.wrapper .wrpBtn {
  position: relative;
  left: 40%;
  background-color: #B88E2F;
  margin-top: 24px;
  margin-bottom: 10px;
  cursor: pointer;
  border: none;
  padding: 12px 52px 12px 57px;
  color: white;
}

.wrpBtn:hover {
  background-color: white;
  color: #B88E2F;
  border: #B88E2F 1px solid;
}