.container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4,285px);
  grid-template-rows: repeat(2, 446px);
  gap: 32px;
}

.wrapper {
  position: relative;;
  margin-top: 56px;
}

.wrapper .title {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.wrapper .wrpBtn {
  position: relative;
  left: 35%;
  background-color: #B88E2F;
  margin-top: 24px;
  margin-bottom: 10px;
  cursor: pointer;
  border: none;
  padding: 12px 52px 12px 57px;
  color: white;
}

.wrpBtn:hover {
  background-color: white;
  color: #B88E2F;
  border: #B88E2F 1px solid;
}

@media screen and (max-width: 1250px) {
  .container {
    grid-template-columns: repeat(3,285px);
    grid-template-rows: repeat(3, 446px);
  }
}

@media screen and (max-width: 1024px) {
  .container {
    grid-template-columns: repeat(2,285px);
    grid-template-rows: repeat(4, 446px);
  }
  
}

@media screen and (max-width: 650px) {
  .container {
    grid-template-columns: auto;
    align-items: center;
  }
  
}