.categoriesTitle {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 20px;
  margin-bottom: 20px;
}

.categoriesTitle h1 {
  margin: 0;
  font-size: 3rem;
  font-weight: 600;
}

.categoriesTitle a {
  position: relative;
  top: 9px;
  text-decoration: none;
  color: black;
}

.categoriesTitle a::after {
  content: '-->';
  padding: 0 10px;
  color: #ffd201;
}

.productsContainer {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  column-gap: 20px;
  row-gap: 40px;
}

@media screen and (max-width: 1200px){
  .productsContainer {
    grid-template-columns: repeat(3, minmax(0,1fr));
  }
}

@media screen and (max-width: 1000px){
  .productsContainer {
    grid-template-columns: repeat(2, minmax(0,1fr));
  }
}